<div class="link_to_detail" data-url="<%= details_path(hall.id) %>"
  style="display: flex;">
  <div style="margin-right: auto;">
    <h3>
      <span class="hall_num"><%= index %></span>.
      <span class="hall_name"><%= hall.name %></span>
    </h3>
    <div>
      <span><%= hall.address %></span>
    </div>
  </div>
  <div>
    <%= image_tag('hall/hall_1.jpg', size: '128x128') %>
  </div>
</div>
