<h1>クラウド公民館</h1>

<div>
  <h2>検索</h2>
  <%= form_tag({controller: 'search', action: 'list'}, method: 'get') do %>
    <%= text_field :search, :keyword, :placeholder => 'キーワード' %>
    <%= text_field :search, :place, :placeholder => '場所' %>
    <%= submit_tag '検索' %>
  <% end %>
</div>
<div class="well" style="float: left; margin-top: 30px;">
  <h2>地図</h2>
<%= image_tag 'map.gif' %>
  <div style="float: right; padding-left: 40px;">
  <table>
    <tr>
      <td>
        <% place_list = ['朝日町', '射水市', '魚津市', "小矢部市","上市町","黒部市","高岡市","立山町","砺波市","富山市","滑川市","南砺市","氷見市","船橋村"] %>
        <% place_list.each do |place| %>
          <%= link_to place, controller: 'search', action: "list", search: {place: place} %>
          <br>
        <% end %>
      </td>
    </tr>

  </table>
  </div>
</div>
<!--<div style="float: left;">-->




<!--</div>-->

<div style="clear:both">
  <h2>市町村別</h2>
</div>
<div>
  <h2>一覧</h2>
  <% @halls.each_with_index do |hall, index| %>
    <%= render partial: "partials/hall_list_item", locals: {hall: hall, index: index + 1} %>
  <% end %>
</div>
