<h1>クラウド公民館</h1>

<div>
  <h2>検索</h2>
  <%= form_tag({controller: 'search', action: 'list'}, method: 'get') do %>
    <%= text_field :search, :keyword %>
    <%= text_field :search, :place %>
    <%= submit_tag '検索' %>
  <% end %>
</div>

<div>
  <h2>地図</h2>
  <%= image_tag 'http://www.mapfan.com/japanmap/map/16.gif' %>
</div>

<div>
  <h2>一覧</h2>
  <% @halls.each_with_index do |hall, index| %>
    <%= render partial: "partials/hall_list_item", locals: {hall: hall, index: index + 1} %>
  <% end %>
</div>
